@font-face {
  font-family: "TTCrownMychewR";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/TTCrownMychewR.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --mainColor: plum;
}

@keyframes bgFadeOut {
  0% {
    background-color: var(--mainColor);
  }

  50% {
    background-color: #123456;
  }

  100% {
    background-color: transparent;
  }
}

@keyframes slideIn {
  0% {
    margin-left: 10%;
  }

  100% {
    margin-left: 0%;
  }
}

@keyframes heartBeat {
  0% {
    font-size: 36px;
  }
  25% {
    font-size: 44px;
  }

  50% {
    font-size: 36px;
  }

  75% {
    font-size: 44px;
  }

  100% {
    font-size: 36px;
  }
}

body {
  background-color: #caebed;
}

span {
  font-family: "TTCrownMychewR";
  margin-left: 12px;
  font-size: 36px;
}

.myName {
  text-decoration: underline solid var(--mainColor);
}

.myJob {
  text-decoration: underline solid yellow;
}

.myFood {
  text-decoration: underline solid red;
}

.myMovie {
  text-decoration: underline solid purple;
}

button {
  background-color: black; /*버튼 배경*/
  border: 2px solid #f9f9ee; /*테두리 두께 및 색*/
  padding: 25px; /*줄 간격*/
  margin-top: 30px; /*버튼 안 위쪽 여백*/
  margin-left: 30px; /*버튼 안 왼쪽 여백*/
  font-size: 40px; /*버튼 폰트 사이즈*/
  color: pink; /*버튼 글자 색*/
  font-family: "TTCrownMychewR"; /*버튼 폰트 설정*/
  box-shadow: 0px 10px 20px rgba(58, 43, 43, 1); /*버튼 밖 그림자 크기 및 색*/
  transition: all 0.5s; /*스무스하게 실행하려고 지연*/
  border-radius: 100px;
  transition: all 0.5s;
}

button:hover {
  border-left: 4px solid #f9f9ee;
  border-right: 4px solid #f9f9ee;
  border-top: 4px solid #f9f9ee;
  border-bottom: 4px solid #f9f9ee;
  box-shadow: 0px 20px 40px rgba(58, 43, 43, 0.5);
  transition: all 0.5; /*마우스 갖다 댔을 때 보이는 그림자*/
}

button:active {
  box-shadow: -7px -10px pink, 7px 10px black;
  transition: all 0.3s;
}
